Assignment_3/.env
Assignment_4/.env
Assignment_4_extra/config.py
Assignment_5/config.py

Assignment_3/*.png
Assignment_3/credentials.json
Assignment_3/token.json
Assignment_3/eag.json
Assignment_3/cursor_position.py
Assignment_3/client.py
Assignment_3/gmail.py
Assignment_3/send_mail.py
Assignment_3/open.py
Assignment_3/paint.py

Assignment_4/open_pdf.py
Assignment_4/website_crawler.py

Assignment_4_extra/logs.log
Assignment_4_extra/Notes

Assignment_7/logs.log
Assignment_7/config.py
Assignment_7/downloaded_images
Assignment_7/extracted_data
Assignment_7/url_logs
Assignment_7/delete.py
Assignment_7/qdrant_tester.py
Assignment_7/qdrant_helper.py
Assignment_7/test.py
Assignment_7/*.txt
Assignment_7/*.jpg

